table{
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 900px;
    height: 500px;
}
/* mine */
#heading{
    background-color: red; 
    font-size: large;
}
#first{
    background-color: azure;
    font-size: medium;
}
#second{
    background-color: beige;
    font-size: medium;
}
th,td{
padding: 10px;
text-align: center;
text-decoration-style: double;
}
tr:hover{background-color: white !important;
cursor: pointer;}